.tag {
  max-width: 240px;
  transition: ease-in-out 0.1s;
  border-radius: 12px;

  &:hover {
    background-color: var(--color-primary);
    cursor: pointer;
  }
}

.selectedTag {
  background-color: var(--color-primary);
  cursor: pointer;
  color: var(--color-secondary);
}

.tagsText {
  padding: 12px;
  transition: ease-in-out 0.1s;

  &:hover{
    color: var(--color-secondary);
  }
}